body {
    background-color:#FF69B4;
}

#container {
    width: 800px;
    margin: auto;
    background-image : url("images/bg_image_01.jpg");
    background-size: 200px 100px;
}

header {
    padding: 40px;
    height: 80px;
    color:#FF1493;
    font-size:60px;
}

nav {
    padding: 8px 40px;
    background-color: #87CEFA;
    color: #FFFFFF;
    font-size:50px
}

article {
    padding: 40px;
    min-height : 400px;
    color:#FF1493;
    font-size:30px;
}

footer {
    padding: 40px;
    height: 40px;
    background-color : #87CEFA;
    color: #FFFFFF;
    font-size:20px;
}
